[mariadb]

# ----------------------------------------------
# Enable the binlog for replication & CDC
# ----------------------------------------------
#
log-bin
server_id=1
log-basename=master1
binlog-format=mixed
binlog_row_event_max_size=16384

bind-address = 0.0.0.0
